.box{
    display: flex;
    align-items: center;
    margin-left: 10%;
    width: 80%;
    height: 60px;
    margin-top: 20px;
}
.mother-box{
    width: 100%;
    height: 100%;
}
.placeholder{
    margin-left: 12px;
}
.aquamarine-button {
    background-color: aquamarine;
    padding: 10px 20px;
    cursor: pointer;
}
.grey-button {
    background-color:grey;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.grey-button1 {
    background-color:grey;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.aquamarine-button {
    background-color: aquamarine;
    padding: 10px 20px;
    cursor: pointer;
}

